<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pamplets</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .qr-box {
            background: white;
            padding: 10px;
            margin-bottom: 5px; 
        }
        .main {
            text-align: "";
            display: block; 
        },
        hr {
            border-top:1px dotted #000;
        }

    </style>
</head>
<body>
    <div class="main">
        {{#each data}}
        <div class="qr-box">
            <div class="flex justify-center mb-4">
                <img src="{{../logo}}" alt="UPES Logo" class="h-[40px] w-[120px]" />
            </div>
            
            <div>
                <div class="flex mt-2 justify-between">
                    <span class="text-lg font-bold">
                        <h2 class="text-lg font-bold">
                            Mid Semester Examinations Mar. 2025
                        </h2>
                    </span>
                    <span class="text-lg font-bold">
                        <h2 class="text-lg font-bold">Rack No: {{this.rackNumber}}</h2>
                    </span>
                </div>
                <div class="flex justify-between mt-2">
                    <span><strong>Date:</strong> {{this.examDate}}</span>
                    <span><strong>Time:</strong> 
                        {{this.examTime}}
                    </span>
                    <span><strong>Packet No:</strong> {{this.packetNumber}}</span>
                </div>
                <div class="mt-6 space-y-2 flex justify-between">
                    <span>
                        <div class="mt-2">
                            <p class="mb-2"><strong>Program:</strong> {{this.programName}}</p>
                            <p class="mb-2"><strong>Semester:</strong> {{this.semester}}</p>
                            <p class="mb-2"><strong>Course Code:</strong> {{this.courseCode}}</p>
                            <p class="mb-2"><strong>Course Name:</strong> {{this.courseName}}</p>
                        </div>
                    </span>
                    <span>
                        <div>
                          <img src="{{this.qrCode}}" alt="QR Code for {{this.name}}" />
                        </div>
                    </span>
                </div>
                <div class="mt-6">
                    <p class="mb-2"><strong>Name of Evaluator:</strong> {{this.evaluator.firstName}} {{this.evaluator.lastName}}</p>
                    <p class="mb-2"><strong>Total Students:</strong> {{this.studentCount}}</p>
                    <p class="mb-2"><strong>Absent:</strong> {{this.absent}}</p>
                </div>
                <div class="mt-4 justify-between flex border-t pt-2">
                    <span class="w-1/2"><p><strong>Invigilator Name:</strong> {{this.invigilator}}</p></span>
                    <span class="w-1/2"><p class="italic ">Signature of Invigilator:___________________________</p></span>
                </div>
            </div>
        </div>
        <hr class="p-1"/>
        {{/each}}
    </div>

</body>
</html>
